[MESSAGES CONTROL]
disable=
    duplicate-code,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-break,
    no-else-return,
    unbalanced-tuple-unpacking,
    unspecified-encoding,
    useless-else-on-loop


[BASIC]
good-names=K,R,T,V,a,b,c,d,dx,dy,fn,hp,ip,k,m,n,no,on,op,q,r,t,tn,to,w,x,x1,x2,y,y1,y2,z

[DESIGN]
max-args=10
max-attributes=15
max-locals=20

[FORMAT]
max-line-length=100

[MISCELLANEOUS]
# don't list TODOs
notes=FIXME
